
{% load static %}
<html>
    <head>
      <title>{{ request.food_emoji }}MealPalPal</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    </head>
    <body>
        <div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <h1><a class="navbar-brand" href="/">MealPalPal</a></h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Your Requests</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/request-meal">Request Meal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/account">Account</a>
      </li>
    </ul>
  </div>
</nav>

        <div class="content container">
        {% block unauthenticated_content %}
          {% if user.is_authenticated %}
            {% block content %}
            {% endblock %}
            <p><a href="{% url 'logout' %}">logout</a></p>
          {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
          {% endif %}
        {% endblock %}
        </div>
    </body>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
</html>
